<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.rfaengines.timedeferro_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_prof_artigo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_prof_artigo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Timedeferroapp">
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RankActivity"
            android:exported="false" />
        <activity
            android:name=".activity.GameOverActivity"
            android:exported="false" />
        <activity
            android:name=".activity.WinActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CombateActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HeroiDoDiaActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ResumoDaTretaActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MapaDaCidadeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HistoriaActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TutorialActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>